---
const { data } = Astro.props;
const {
  title,
  tech,
  isStatic = false,
  coverVideo = "",
  poster,
  logo = "",
  overlay = "",
  url,
  desc,
} = data;
---

<article
  class="rounded-lg border border-neutral-800 overflow-hidden lg:rounded-xl lg:grid grid-cols-7 gap-9 p-1"
>
  <div class="col-span-3 h-72 lg:h-80 select-none">
    {
      isStatic ? (
        <div class="overflow-hidden  rounded-lg h-full w-full">
          <img
            class="w-full h-full  object-cover object-center"
            src={poster}
            alt={`Thubnail for ${title}  project created by Rakesh Gupta`}
          />
        </div>
      ) : (
        <div class="relative bg-gradient-to-b h-full from-gray-800 to-gray-954  overflow-hidden rounded-md lg:rounded-lg w-full">
          <video
            autoplay
            loop
            muted
            class="absolute inset-0 object-cover h-full w-full object-bottom"
          >
            <source src={coverVideo} type="video/mp4" />
          </video>

          {logo ? (
            <div class="absolute inset-0 p-7">
              <img
                class="ml-auto w-auto h-5 md:h-6"
                src={logo}
                alt={`overlay picture for ${title} created by Rakesh Gupta`}
              />
            </div>
          ) : overlay ? (
            <div class="absolute inset-0 grid place-content-center place-items-center p-3">
              <img
                class="h-[70%]  w-full mx-auto object-contain object-center"
                src={overlay}
                alt={` overlay picture for ${title} created by Rakesh Gupta`}
              />
            </div>
          ) : (
            ""
          )}
        </div>
      )
    }
  </div>
  <div
    class="flex pb-6 px-5 md:px-0 col-span-4 flex-col items-start gap-2 oveflow-hidden w-11/12 pt-6 lg:pt-7"
  >
    <div class="flex-1">
      <h4 class="md:block hidden font-medium text-white">
        {title}
      </h4>
      <h3 class="md:hidden block font-medium text-white">
        {title}
      </h3>
      <div class="flex gap-3">
        {
          tech.map((elem: string) => {
            return (
              <span class="text-white text-opacity-60 font-regular  md:pt-1  pb-1 md:pb-2">
                #{elem}
              </span>
            );
          })
        }
      </div>
      <span
        class="text-sm md:text-base text-white text-opacity-80 font-light pr-4 leading-tight"
      >
        {desc}
      </span>
    </div>
    <a
      target="_blank"
      href={url}
      class="pt-3 font-medium text-lg border-b border-white leading-tight focus-visible:outline-none flex items-center gap-2 font-regular text-white hover:text-pink2 hover:border-pink2 cursor-pointer focus-visible:text-pink2 focus-visible:border-pink2 transition"
    >
      View live
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-3"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
      </svg>
    </a>
  </div>
</article>
